@using AlbumsProject.ViewModels
@model CommentVm

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.Author, htmlAttributes:
             new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Author)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Text, htmlAttributes:
            new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Text)
        </div>
    </div>
</div>
